body {
  margin: 0 !important;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inner {
  width: 80%;
  max-width: 1200px;
  min-width: 800px;
  margin: 110px auto 200px;
}

.header {
  background: #ababab;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
}

.header .container {
  width: 50%;
  margin: 20px auto;
}

.header .container .header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .container .header_flex div {
  width: 150px;
  text-align: center;
}

.header .container .header_flex div button {
  font-size: 20px;
}

.footer .input_table {
  border: 1px solid gray;
  width: 100%;
  float: left;
  background: #d2d2d2;
  position: fixed;
  bottom: 50px;
}

.footer .input_table .input_ul {
  list-style: none;
}

.footer .input_table .input_ul li {
  float: left;
  padding: 0.3vw 1vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 22%;
  border-right: 1px solid #aaaaaa;
  white-space: nowrap;
}

.footer .input_table .input_ul li .title {
  float: left;
  font-size: 1.3vw;
  margin: 0.5vw 0;
}

.footer .input_table .input_ul li .input_container {
  float: right;
  font-size: 1.5vw;
}

.footer .input_table .input_ul li .input_container > input {
  width: 100%;
  height: 2.5vw;
  font-size: 0.8vw;
  font-weight: 500;
  color: #000000;
  border: 0.15vw solid #aaaaaa;
}

#amount_bar {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background: #383838;
}

#amount_bar .btn_area {
  position: relative;
  width: 70%;
  margin: auto;
}

#amount_bar .btn_area button {
  position: absolute;
  width: 150px;
  height: 50px;
  line-height: 100%;
  text-decoration: none;
  background: none;
  padding: 0;
  border: none;
}

#amount_bar .btn_area button.back {
  left: 0;
}

#amount_bar .btn_area button.back span:after {
  left: 3px;
  border-right-width: 0;
  border-bottom-width: 0;
}

#amount_bar .btn_area button.for {
  right: 0;
}

#amount_bar .btn_area button.for span:after {
  right: 3px;
  border-left-width: 0;
  border-top-width: 0;
}

#amount_bar .btn_area button span {
  position: relative;
  padding: 0 15px;
  overflow: hidden;
  width: 30px;
  height: 27px;
  vertical-align: middle;
  font-size: 18px;
  line-height: 3;
  color: whitesmoke;
}

#amount_bar .btn_area button span:after {
  display: block;
  position: absolute;
  top: 5.5px;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

#amount_bar .total {
  position: absolute;
  left: 50%;
  width: 300px;
  height: 100%;
  margin-left: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  font-family: inherit;
  text-align: center;
  vertical-align: middle;
}

#amount_bar .total span {
  color: whitesmoke;
  font-size: 23px;
  font-weight: 700;
  margin: 0 3px;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-ens0 {
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: top;
}

.tg .tg-oo1s {
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: middle;
}

.tg .tg-w14e {
  color: rgba(0, 0, 0, 0.847);
  text-align: left;
  vertical-align: top;
}

.tg .tg-e9j4 {
  background-color: #FFC000;
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: middle;
}

.tg .tg-cly1 {
  text-align: left;
  vertical-align: middle;
}

.tg .tg-ps7t {
  background-color: #FFD966;
  color: #404040;
  text-align: center;
  vertical-align: top;
}

.tg .tg-1szv {
  background-color: #D9D9D9;
  color: rgba(0, 0, 0, 0.847);
  text-align: right;
  vertical-align: top;
}

.tg .tg-7zrl {
  text-align: left;
  vertical-align: bottom;
}

.tg .tg-s6ww {
  background-color: #D9D9D9;
  color: rgba(0, 0, 0, 0.847);
  text-align: left;
  vertical-align: top;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-7un6 {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  vertical-align: top;
}

.tg .tg-22y8 {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  vertical-align: middle;
}

.tg .tg-14gg {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  vertical-align: top;
}

.tg .tg-eiwr {
  background-color: #ffffff;
  color: #000000;
  text-align: right;
  vertical-align: top;
}

.tg .tg-cly1 {
  text-align: left;
  vertical-align: middle;
}

.tg .tg-nqd8 {
  background-color: #E1EEDA;
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: top;
}

.tg .tg-bhvh {
  background-color: #E1EEDA;
  text-align: center;
  vertical-align: top;
}

.tg .tg-qfua {
  background-color: #D9D9D9;
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: top;
}

.tg .tg-o042 {
  background-color: #FBE3D5;
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: middle;
}

.tg .tg-5qpy {
  background-color: #FFD966;
  color: rgba(0, 0, 0, 0.847);
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

.tg .tg-oo1s {
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: middle;
}

.tg .tg-kv9q {
  background-color: #FBE3D5;
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: top;
}

.tg .tg-af4a {
  background-color: #E1EEDA;
  color: rgba(0, 0, 0, 0.847);
  text-align: left;
  vertical-align: top;
}

.tg .tg-0jgy {
  background-color: #A6A6A6;
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: top;
}

.tg .tg-w14e {
  color: rgba(0, 0, 0, 0.847);
  text-align: left;
  vertical-align: top;
}

.tg .tg-6gy1 {
  background-color: #FFD966;
  color: rgba(0, 0, 0, 0.847);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.tg .tg-jl4b {
  background-color: #FBE3D5;
  text-align: center;
  vertical-align: middle;
}

.tg .tg-wyvf {
  background-color: #E1EEDA;
  text-align: left;
  vertical-align: middle;
}

.tg .tg-8b3m {
  background-color: #A6A6A6;
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: middle;
}

.tg .tg-py2d {
  background-color: #A6A6A6;
  text-align: left;
  vertical-align: middle;
}

.tg .tg-zeow {
  background-color: #A6A6A6;
  color: rgba(0, 0, 0, 0.847);
  text-align: left;
  vertical-align: top;
}

.tg .tg-nrix {
  text-align: center;
  vertical-align: middle;
}

.tg .tg-cly1 {
  text-align: left;
  vertical-align: middle;
}

.tg .tg-ens0 {
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: top;
}

.tg .tg-0jgy {
  background-color: #A6A6A6;
  color: rgba(0, 0, 0, 0.847);
  text-align: center;
  vertical-align: top;
}

.tg .tg-amwm {
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.tg .tg-nrix {
  text-align: center;
  vertical-align: middle;
}

.tg .tg-371j {
  background-color: #A6A6A6;
  text-align: center;
  vertical-align: middle;
}
/*# sourceMappingURL=detail.css.map */