{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>캠핑카 1위 [캠카]입니다</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/sass/main.css' %}" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

        <!-- Header -->
            <div id="header">

            <!-- Logo -->
                <h1><a href="/">CampCar</a></h1>

            <!-- Nav -->
                <nav id="nav" class="header_nav">
                    <ul>
                        <li class="current"><a href="#">회사소개</a></li>
                        <li><a href="#">모델소개</a></li>
                        <li><a href="#">제휴안내</a></li>
                        <li><a href="#">고객지원</a></li>
                        <li><a href="#">스토어</a></li>
                    </ul>
                </nav>
                
            </div>

        <!-- inner-->
        {% block contents %}

        {% endblock %}

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							
							<div class="col-4 col-12-medium">
								<section>
									<ul class="social">
										<li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
										<li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
										<li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
										<li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
										<li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
									</ul>
									<ul class="contact">
										<li>
											<h3>주소</h3>
											<p>
												CampCar 주식회사 캠카<br />
												캠핑시 자동차로 123 3관 5층<br />
											</p>
										</li>
										<li>
											<h3>이메일</h3>
											<p><a href="#">someone@untitled.tld</a></p>
										</li>
										<li>
											<h3>연락처</h3>
											<p>010-0000-0000</p>
										</li>
									</ul>
								</section>
							</div>
							<div class="col-12">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Campcar All rights reserved.</li><li>Design by  <a href="http://github.com/kick-snare"> kick-snare</a></li>
										</ul>
									</div>

							</div>
						</div>
					</div>
				</section>

		</div>
		<script type="text/javascript">
			function carSwitchButton(element) {
				var carTypeList = document.getElementsByName("carType");
				for (var i = 0; i < carTypeList.length; i++) {
					carTypeList[i].setAttribute('class', '');
				}
				element.setAttribute('class', 'current');

				var carList = document.getElementsByClassName("car_area");
				for (var i = 0; i < carList.length; i++) {
					if ((carList[i].getAttribute("name") == element.getAttribute("id")) ||
						element.getAttribute("id") == "all")
						carList[i].style.display = "block";
					else
						carList[i].style.display = "none";
				}
			}

			function optionSwitchButton(element) {
				var optionTypeList = document.getElementsByName("optionType");
				for (var i = 0; i < optionTypeList.length; i++) {
					optionTypeList[i].setAttribute('class', '');
				}
				element.setAttribute('class', 'current');

				var optionList = document.getElementsByClassName("opt_view");
				for (var i = 0; i < optionList.length; i++) {
					if (optionList[i].getAttribute("name") == element.getAttribute("id") ||
						element.getAttribute("id") == "all")
						optionList[i].style.display = "block";
					else
						optionList[i].style.display = "none";
				}
			}

			function changePriceNegative(element, optionName) {
				var optionPrice = document.getElementById(optionName + "_value");
				var optionQuantity = document.getElementById(optionName + "_quantity");
				var totalPriceVar = document.getElementById("total_price");

				var this_price = Number(optionPrice.getAttribute('value'));
				var this_quantity = Number(optionQuantity.getAttribute('value'));
				var total_price = Number(totalPriceVar.getAttribute('value'));

				if (this_quantity > 0) {
					this_quantity -= 1;
					optionQuantity.setAttribute('value', this_quantity);
					optionQuantity.innerHTML = this_quantity;
					total_price -= this_price;
					totalPriceVar.setAttribute('value', total_price);
					totalPriceVar.innerHTML = total_price.toLocaleString();
				}

			}

			function changePricePositive(element, optionName) {
				var optionPrice = document.getElementById(optionName + "_value");
				var optionQuantity = document.getElementById(optionName + "_quantity");
				var totalPriceVar = document.getElementById("total_price");

				var this_price = Number(optionPrice.getAttribute('value'));
				var this_quantity = Number(optionQuantity.getAttribute('value'));
				var total_price = Number(totalPriceVar.getAttribute('value'));
				
				this_quantity += 1;
				optionQuantity.setAttribute('value', this_quantity);
				optionQuantity.innerHTML = this_quantity;

				total_price += this_price;
				totalPriceVar.setAttribute('value', total_price);
				totalPriceVar.innerHTML = total_price.toLocaleString();
			}

        </script>
	</body>
</html>