{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>내 견적서 보기</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/sass/main.css' %}" />
	</head>
	<body class="homepage is-preload">
        <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;}
            .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
              overflow:hidden;padding:10px 5px;word-break:normal;}
            .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
              font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        </style>

        <table class="tg" style="undefined;table-layout: fixed; width: 789px">
            <colgroup>
                <col style="width: 100px">
                <col style="width: 93px">
                <col style="width: 596px">
            </colgroup>
            <thead>
              <tr>
                <th class="tg-y5r5" colspan="3">레져밴 (1톤 소형) 기본사양</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-0skt" colspan="3">기본사양</td>
              </tr>
              <tr>
                <td class="tg-rcip" rowspan="3">차량정보</td>
                <td class="tg-nbj5">베이스차량</td>
                <td class="tg-jxgv">현대 시티밴 (2.5 CRDi 유로6 엔진)</td>
              </tr>
              <tr>
                <td class="tg-nbj5">편의사양</td>
                <td class="tg-jxgv">5단 자동 변속기 / 오디오 / 히터 / 에어컨 외</td>
              </tr>
              <tr>
                <td class="tg-nbj5">전체사이즈</td>
                <td class="tg-jxgv">전장 5,305mm / 전폭 1,790mm / 전고 2,580mm</td>
              </tr>
              <tr>
                <td class="tg-rcip" rowspan="2">캠핑룸</td>
                <td class="tg-nbj5">캠핑룸 구성</td>
                <td class="tg-jxgv">응접실겸침실 / 욕실 / 주방 / 벙커배드(아동용) / 상부수납장 / 각종 수납장</td>
              </tr>
              <tr>
                <td class="tg-nbj5">캠핑룸 사이즈</td>
                <td class="tg-jxgv">길이 2,965mm / 폭 1,790mm / 높이 1,780mm</td>
              </tr>
              <tr>
                <td class="tg-rcip" rowspan="6">구조 / 구성</td>
                <td class="tg-nbj5">가구 및 골조</td>
                <td class="tg-jxgv">최고급 패브릭 + 오크 시트 가구 / 라운드 타입 상부 수납도어</td>
              </tr>
              <tr>
                <td class="tg-nbj5">침실 겸 응접실</td>
                <td class="tg-jxgv">라운드 쇼파 구조 /높이조절 테이블+원목 상판 / 상부수납장 / 응접실매트</td>
              </tr>
              <tr>
                <td class="tg-nbj5">욕실</td>
                <td class="tg-jxgv">샤워베이스 / 젠다이 / 냉온수전 / 욕실 환풍구 / 이동식 변기</td>
              </tr>
              <tr>
                <td class="tg-nbj5">주방</td>
                <td class="tg-jxgv">DC 냉장고(98L 2Door)/ 덮개형 싱크볼 / 냉온수전 / 접이식 주방 상판/전자레인지</td>
              </tr>
              <tr>
                <td class="tg-nbj5">벙커수납장</td>
                <td class="tg-jxgv">벙커 전체 수납함 타입 or 벙커 좌/우 수납함 타입</td>
              </tr>
              <tr>
                <td class="tg-nbj5">트렁크</td>
                <td class="tg-jxgv">캠핑카 후면 트렁크</td>
              </tr>
              <tr>
                <td class="tg-rcip" rowspan="5">인테리어 (마감)</td>
                <td class="tg-nbj5">천정</td>
                <td class="tg-jxgv">컬러 강화유리 + 인테리어 등박스 (포인트 매립조명)</td>
              </tr>
              <tr>
                <td class="tg-nbj5">바닥</td>
                <td class="tg-jxgv">온돌마루 마감 (강마루)</td>
              </tr>
              <tr>
                <td class="tg-nbj5">벽체</td>
                <td class="tg-jxgv">단열 합판 + 최고급 패브릭 시트 마감</td>
              </tr>
              <tr>
                <td class="tg-nbj5">출입문</td>
                <td class="tg-jxgv">출입문 벽체 마감(오크) / 계단 벽면 스텐레스 마감</td>
              </tr>
              <tr>
                <td class="tg-nbj5">외부 디자인</td>
                <td class="tg-jxgv">고급 자동차용 디자인 데칼</td>
              </tr>
              <tr>
                <td class="tg-rcip" rowspan="4">전기시스템</td>
                <td class="tg-nbj5">외부전원</td>
                <td class="tg-jxgv">외부전원 인입구 / 외부전원 연결구 /컨트롤판넬 / 각종 휴즈 시스템 / 220V &amp;12V 콘센트</td>
              </tr>
              <tr>
                <td class="tg-nbj5">배터리</td>
                <td class="tg-jxgv">리튬 인산철 100A + AC 충전기 + 인버터 2.2K</td>
              </tr>
              <tr>
                <td class="tg-nbj5">주행충전</td>
                <td class="tg-jxgv">양방향 주행충전기 (메인배터리 점프 기능) + 서킷브레이커 퓨즈 시스템(안전장치)</td>
              </tr>
              <tr>
                <td class="tg-nbj5">태양열</td>
                <td class="tg-jxgv">태양광 판넬 250W + 컨트롤러 MPPT 20A + 모니터</td>
              </tr>
              <tr>
                <td class="tg-rcip">워터시스템</td>
                <td class="tg-nbj5">냉/온수</td>
                <td class="tg-jxgv">청수탱크 80L / 오수탱크 50L / 압력식 워터펌프 / 드레인 시스템 /오수&amp;청수 게이지</td>
              </tr>
              <tr>
                <td class="tg-rcip" rowspan="2">냉방 / 난방</td>
                <td class="tg-nbj5">냉방</td>
                <td class="tg-jxgv">루프 에어컨 (6평형) / 냉방 + 난방 겸용</td>
              </tr>
              <tr>
                <td class="tg-nbj5">난방+온수</td>
                <td class="tg-jxgv">독일 에바스 패커 무시동 히터 (난방 + 온수)</td>
              </tr>
              <tr>
                <td class="tg-rcip" rowspan="4">기타</td>
                <td class="tg-nbj5">환기 시스템</td>
                <td class="tg-jxgv">맥스팬 (배기&amp;흡기 모드) - 거실 / 욕실 환풍구</td>
              </tr>
              <tr>
                <td class="tg-nbj5">창문/방충망</td>
                <td class="tg-jxgv">침실 좌/우 이중 아크릴 창문 (블라인드&amp;방충망 포함) / 후방 전체 방충망</td>
              </tr>
              <tr>
                <td class="tg-nbj5">사이드 어닝</td>
                <td class="tg-jxgv">사이드 어닝 3m / led 어닝 라이트 2m</td>
              </tr>
              <tr>
                <td class="tg-7yig">TV시스템</td>
                <td class="tg-ktyi">TV(LED 24인치) + 3단 굴절암</td>
              </tr>
            </tbody>
        </table>

        <table class="tg" style="undefined;table-layout: fixed; width: 643px">
            <colgroup>
                <col style="width: 38px">
                <col style="width: 38px">
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 116px">
                <col style="width: 32px">
                <col style="width: 32px">
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 237px">
            </colgroup>
            <thead>
              <tr>
                <th class="tg-tz2g" colspan="12"><span style="font-style:normal;text-decoration:none;color:#404040">레져밴 (1톤 소형) 견적&amp;계약서 (챠량구입시)</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-7hgw" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">제작자 상호</span></td>
                <td class="tg-0pky" colspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                <td class="tg-7hgw" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">고객명</span></td>
                <td class="tg-0pky" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
              </tr>
              <tr>
                <td class="tg-7hgw" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">사업자번호</span></td>
                <td class="tg-0pky" colspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                <td class="tg-7hgw" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">적용 차량</span></td>
                <td class="tg-0pky" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
              </tr>
              <tr>
                <td class="tg-7hgw" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">주소</span></td>
                <td class="tg-0pky" colspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                <td class="tg-7hgw" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">연락처</span></td>
                <td class="tg-0pky" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
              </tr>
              <tr>
                <td class="tg-7hgw" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">대표자명</span></td>
                <td class="tg-0pky" colspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                <td class="tg-7hgw" colspan="2" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">주소</span></td>
                <td class="tg-0pky" colspan="3" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
              </tr>
              <tr>
                <td class="tg-7hgw" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">상담자명</span></td>
                <td class="tg-0pky" colspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
              </tr>
            </tbody>
        </table>

        <table class="tg" style="undefined;table-layout: fixed; width: 705px">
            <colgroup>
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 188px">
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 25px">
                <col style="width: 267px">
            </colgroup>
            <tbody>
                <tr>
                <td class="tg-c834" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">계약일</span></td>
                <td class="tg-cly1" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                <td class="tg-c834" colspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">출고 예정일</span></td>
                <td class="tg-cly1" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                </tr>
            </tbody>
        </table>

        <table class="tg">
            <tbody>
              <tr>
                <td class="tg-p25u" colspan="2" rowspan="8"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">계약내용</span></td>
                <td class="tg-6mmj"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">제작 모델</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">계약금</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">(20%)</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">: 계약시</span></td>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">중도금 1차</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">(30%)</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">: 차량입고후</span></td>
                <td class="tg-ens0" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">중도금 2차</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">(30%)</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">: 구조작업 완료후</span></td>
                <td class="tg-ens0" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">잔금-제작</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">(20%)</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">: 차량출고전</span></td>
                <td class="tg-ens0" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">금액 합계 (VAT포함)</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">레져밴 (1톤 소형)</span></td>
                <td class="tg-4ah3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">-</span></td>
                <td class="tg-4ah3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">-</span></td>
                <td class="tg-4ah3" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">-</span></td>
                <td class="tg-4ah3" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">-</span></td>
                <td class="tg-4ah3" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">-</span></td>
              </tr>
              <tr>
                <td class="tg-ens0" colspan="10" rowspan="6"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">　</span></td>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
            </tbody>
        </table>

        
	</body>
</html>