{% load static %}
{% load humanize %}
{% csrf_token %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>내 견적서 보기</title>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/sass/detail.css' %}" />
  </head>
  <body>
    <div class="homepage is-preload">

      <div class="header">
        <div class="container">
          <div class="header_flex">
            <div class="basic_opt"><button>기본사양</button></div>
            <div class="opt_list"><button>옵션리스트</button></div>
            <div class="tax_bill"><button>세금계산서</button></div>
          </div>
        </div>
      </div>
      
      <div class="inner">

        <div class="page1">
          <!-- 기본사양 -->
          <table class="tg">
            <tbody>
              <tr>
                <td class="tg-oo1s" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">{{car.name}} 기본사양</span></td>
              </tr>
              <tr>
                <td class="tg-e9j4" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">기본사양</span></td>
              </tr>
              <tr>
                <td class="tg-oo1s" rowspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">차량정보</span></td>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">베이스차량</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">현대 시티밴 (2.5 CRDi 유로6 엔진)</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">편의사양</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">5단 자동 변속기 / 오디오 / 히터 / 에어컨 외</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">전체사이즈</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">전장 5,305mm / 전폭 1,790mm / 전고 2,580mm</span></td>
              </tr>
              <tr>
                <td class="tg-oo1s" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">캠핑룸</span></td>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">캠핑룸 구성</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">응접실겸침실 / 욕실 / 주방 / 벙커배드(아동용) / 상부수납장 / 각종 수납장</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">캠핑룸 사이즈</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">길이 2,965mm / 폭 1,790mm / 높이 1,780mm</span></td>
              </tr>
              <tr>
                <td class="tg-oo1s" rowspan="6"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">구조</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">/</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">구성</span></td>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">가구 및 골조</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">최고급 패브릭 + 오크 시트 가구 / 라운드 타입 상부 수납도어</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">침실 겸 응접실</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">라운드 쇼파 구조 /높이조절 테이블+원목 상판 / 상부수납장 / 응접실매트</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">욕실</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">샤워베이스 / 젠다이 / 냉온수전 / 욕실 환풍구 / 이동식 변기</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">주방</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">DC 냉장고(98L 2Door)/ 덮개형 싱크볼 / 냉온수전 / 접이식 주방 상판/전자레인지</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">벙커수납장</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">벙커 전체 수납함 타입 or 벙커 좌/우 수납함 타입</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">트렁크</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">캠핑카 후면 트렁크</span></td>
              </tr>
              <tr>
                <td class="tg-oo1s" rowspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">인테리어 (마감)</span></td>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">천정</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">컬러 강화유리 + 인테리어 등박스 (포인트 매립조명)</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">바닥</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">온돌마루 마감 (강마루)</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">벽체</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">단열 합판 + 최고급 패브릭 시트 마감</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">출입문</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">출입문 벽체 마감(오크) / 계단 벽면 스텐레스 마감</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">외부 디자인</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">고급 자동차용 디자인 데칼</span></td>
              </tr>
              <tr>
                <td class="tg-oo1s" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">전기시스템</span></td>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">외부전원</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">외부전원 인입구 / 외부전원 연결구 /컨트롤판넬 / 각종 휴즈 시스템 / 220V &amp;12V 콘센트</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">배터리</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">리튬 인산철 100A + AC 충전기 + 인버터 2.2K</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">주행충전</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">양방향 주행충전기 (메인배터리 점프 기능) + 서킷브레이커 퓨즈 시스템(안전장치)</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">태양열</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">태양광 판넬 250W + 컨트롤러 MPPT 20A + 모니터</span></td>
              </tr>
              <tr>
                <td class="tg-oo1s"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">워터시스템</span></td>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">냉/온수</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">청수탱크 80L / 오수탱크 50L / 압력식 워터펌프 / 드레인 시스템 /오수&amp;청수 게이지</span></td>
              </tr>
              <tr>
                <td class="tg-oo1s" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">냉방</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">/</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">난방</span></td>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">냉방</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">루프 에어컨 (6평형) / 냉방 + 난방 겸용</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">난방+온수</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">독일 에바스 패커 무시동 히터 (난방 + 온수)</span></td>
              </tr>
              <tr>
                <td class="tg-oo1s" rowspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">기타</span></td>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">환기 시스템</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">맥스팬 (배기&amp;흡기 모드) - 거실 / 욕실 환풍구</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">창문/방충망</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">침실 좌/우 이중 아크릴 창문 (블라인드&amp;방충망 포함) / 후방 전체 방충망</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">사이드 어닝</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">사이드 어닝 3m / led 어닝 라이트 2m</span></td>
              </tr>
              <tr>
                <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">TV시스템</span></td>
                <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">TV(LED 24인치) + 3단 굴절암</span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <br />
      
        <div class="page2">

          <!-- 견적&계약서 -->
          <table class="tg">
            <tbody>
              <tr>
                <td class="tg-ps7t" colspan="12"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#404040">{{car.name}} 견적&amp;계약서 (챠량구입시)</span></td>
              </tr>
              <tr>
                <td class="tg-1szv" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">제작자 상호</span></td>
                <td class="tg-cly1" colspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                <td class="tg-1szv" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">고객명</span></td>
                <td class="tg-cly1" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
              </tr>
              <tr>
                <td class="tg-1szv" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">사업자번호</span></td>
                <td class="tg-7zrl" colspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                <td class="tg-1szv" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">적용 차량</span></td>
                <td class="tg-7zrl" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
              </tr>
              <tr>
                <td class="tg-1szv" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">주소</span></td>
                <td class="tg-7zrl" colspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                <td class="tg-1szv" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">연락처</span></td>
                <td class="tg-7zrl" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
              </tr>
              <tr>
                <td class="tg-1szv" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">대표자명</span></td>
                <td class="tg-7zrl" colspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                <td class="tg-s6ww" colspan="2" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">주소</span></td>
                <td class="tg-cly1" colspan="3" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
              </tr>
              <tr>
                <td class="tg-1szv" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">상담자명</span></td>
                <td class="tg-7zrl" colspan="5"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
              </tr>
            </tbody>
          </table>
        
          <!-- 계약내용,영수증,특약 -->
          <table class="tg">
            <tbody>
              <tr>
                <td class="tg-7un6" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none">계약일</span></td>
                <td class="tg-22y8" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none">　</span></td>
                <td class="tg-7un6" colspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none">출고 예정일</span></td>
                <td class="tg-22y8" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none">　</span></td>
              </tr>
              <tr>
                <td class="tg-14gg" colspan="2" rowspan="8"><span style="font-weight:400;font-style:normal;text-decoration:none">계약내용</span></td>
                <td class="tg-7un6"><span style="font-weight:400;font-style:normal;text-decoration:none">제작 모델</span></td>
                <td class="tg-14gg"><span style="font-weight:400;font-style:normal;text-decoration:none">계약금</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">(20%)</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">: 계약시</span></td>
                <td class="tg-7un6"><span style="font-weight:400;font-style:normal;text-decoration:none">중도금 1차</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">(30%)</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">: 차량입고후</span></td>
                <td class="tg-7un6" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none">중도금 2차</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">(30%)</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">: 구조작업 완료후</span></td>
                <td class="tg-7un6" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none">잔금-제작</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">(20%)</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">: 차량출고전</span></td>
                <td class="tg-7un6" colspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none">금액 합계 (VAT포함)</span></td>
              </tr>
              <tr>
                <td class="tg-7un6"><span style="font-weight:400;font-style:normal;text-decoration:none">{{car.name}}</span></td>
                <td class="tg-eiwr">
                  <span style="font-weight:400;font-style:normal;text-decoration:none">
                    {{ contract.contract_price|intcomma }}원
                  </span>
                </td>
                <td class="tg-eiwr">
                  <span style="font-weight:400;font-style:normal;text-decoration:none">
                    {{ contract.semi_price_1|intcomma }}원
                  </span>
                </td>
                <td class="tg-eiwr" colspan="2">
                  <span style="font-weight:400;font-style:normal;text-decoration:none">
                    {{ contract.semi_price_2|intcomma }}원    
                  </span>
                </td>
                <td class="tg-eiwr" colspan="2">
                  <span style="font-weight:400;font-style:normal;text-decoration:none">
                    {{ contract.remaining_price|intcomma }}원
                  </span>
                </td>
                <td class="tg-eiwr" colspan="3">
                  <span style="font-weight:400;font-style:normal;text-decoration:none">
                    {{ contract.total_price|add:contract.vat|intcomma }}원
                  </span>
                </td>
              </tr>
              <tr>
                <td class="tg-7un6" colspan="10" rowspan="6"><span style="font-weight:400;font-style:normal;text-decoration:none">
                    ※ 대금 지불 방법<br/>
                    상기 모든 금액은 부가세(VAT) 포함 금액이며 현금 결제 기준입니다. - 입금계좌 : 00000000000 / 000000 / 000<br/>
                    ※ 캠핑카 제작 기간은 작업 내용의 변경 시 또는 천재지변에 의해 출고일 1~2주일 변경될 수 있습니다. ※ 제작된 캠핑카의 무상 AS 기간은 1년으로 하며, 제작자의 작업장 입고 후 수리를 원칙으로 한다.<br/>
                    단, 소모성 부품 및 고객 과실에 의한 파손과 오작동으로 인한 고장은 유상 수리를 원칙으로 한다.</span></td>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
                <td class="tg-7un6" colspan="2" rowspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none">영수증</span></td>
                <td class="tg-eiwr" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none">영수금액</span></td>
                <td class="tg-14gg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none">계약금</span></td>
                <td class="tg-eiwr">
                  <span style="font-weight:400;font-style:normal;text-decoration:none">
                    {{ contract.contract_price|intcomma }}  
                  </span>
                </td>
                <td class="tg-14gg"><span style="font-weight:400;font-style:normal;text-decoration:none">원</span></td>
                <td class="tg-14gg" colspan="4" rowspan="3"><span style="font-weight:400;font-style:normal;text-decoration:none">※ 본 영수증은 캠핑카 제작 대금용으로만 효력이 있으며, 기타 용도 사용은 무효합니다.</span></td>
              </tr>
              <tr>
                <td class="tg-eiwr" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none">영수일자</span></td>
                <td class="tg-22y8" colspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none">　</span></td>
              </tr>
              <tr>
                <td class="tg-eiwr" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none">영수인</span></td>
                <td class="tg-22y8" colspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none">　</span></td>
              </tr>
              <tr>
                <td class="tg-14gg" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none">특약사항</span></td>
                <td class="tg-14gg" colspan="6"><span style="font-weight:400;font-style:normal;text-decoration:none">　</span></td>
                <td class="tg-14gg" colspan="4"><span style="font-weight:400;font-style:normal;text-decoration:none">※ 캠핑카 제작 대금은 지정한 계좌로 송금한다.</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">※ 고객과 제작자는 상호 동의하에 계약서를 작성하고 각각 서명 또는 날인하고 각각 1부씩 보관한다.</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">※ 매수인의 일방적인 계약 해지 시 계약금은 반환하지 않음을 조건 으로 한다.</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">※ 서로의 동의하에 특약을 만들어 계약내용에 적용한다.</span></td>
              </tr>
            </tbody>
          </table>

          <!-- 기본/옵션 사양 리스트 -->
          <table class="tg">
              <tbody>
                <tr>
                  <td class="tg-6gy1"><span style="font-style:normal;text-decoration:none;color:windowtext">No.</span></td>
                  <td class="tg-6gy1" colspan="2"><span style="font-style:normal;text-decoration:none;color:windowtext">품명</span></td>
                  <td class="tg-6gy1"><span style="font-style:normal;text-decoration:none;color:windowtext">내용 &amp; 구성 : 부품+잡자재+공임 포함</span></td>
                  <td class="tg-5qpy"><span style="font-style:normal;text-decoration:none;color:windowtext">수량</span></td>
                  <td class="tg-5qpy"><span style="font-style:normal;text-decoration:none;color:windowtext">합계</span><br><span style="font-style:normal;text-decoration:none;color:windowtext">(VAT별도)</span></td>
                </tr>
                <tr>
                  <td class="tg-oo1s"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">1</span></td>
                  <td class="tg-o042" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">{{car.name}}</span></td>
                  <td class="tg-kv9q"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">{{car.name}} 기본사양 내역 별첨</span></td>
                  <td class="tg-jl4b" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black;background-color:#FBE3D5">{{car.price|intcomma}}원</span></td>
                </tr>

                {% for OPTION_KEY, OPTION_ITEM in OPTION_DICT.items %}
                  {% for option, option_num in option_dict.items %}
                    {% if option.type == OPTION_KEY and option_num != '0' %}
                    <tr>
                      <td class="tg-oo1s">
                        <span style="font-weight:400;font-style:normal;text-decoration:none;color:black">
                          {{forloop.counter|add:1}}
                        </span></td>
                      <td class="tg-oo1s"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">{{OPTION_ITEM}}</span></td>
                      <td class="tg-nqd8"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">추가옵션</span></td>
                      <td class="tg-af4a"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">{{option.name}}</span>   <span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">{{option.explaination}}</span></td>
                      <td class="tg-bhvh"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black;background-color:#E1EEDA">{{option_num}}</span></td>
                      <td class="tg-wyvf">
                        <span style="font-weight:400;font-style:normal;text-decoration:none;color:black;background-color:#E1EEDA">
                          {% widthratio option.price 1 option_num as result %}
                          {{ result|intcomma }} 원
                        </span>
                      </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
                <!--
                <tr>
                  <td class="tg-oo1s"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">4</span></td>
                  <td class="tg-oo1s"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">기타</span></td>
                  <td class="tg-cly1"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                  <td class="tg-w14e"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">공기식 무시동 히터 : D2</span></td>
                  <td class="tg-cly1"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                  <td class="tg-cly1"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                </tr>
                <tr>
                  <td class="tg-qfua" colspan="6" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">합계 금액 : 개별소비세+교육세 포함 (VAT별도)</span></td>
                </tr>
              -->
                <tr>
                </tr>
                <tr>
                  <td class="tg-qfua" colspan="6" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">부가세 (10%)</span></td>
                </tr>
                <tr>
                </tr>
                <tr>
                  <td class="tg-qfua" colspan="6" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">프로모션&amp;할인</span></td>
                </tr>
                <tr>
                </tr>
                <tr>
                  <td class="tg-0jgy" colspan="6" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">합계 금액 (VAT포함)</span></td>
                </tr>
                <tr>
                </tr>
              </tbody>
          </table>

        </div>

        <br />

        <div class="page3">
          <!-- 세금 -->
          <table class="tg">
              <tbody>
                <tr>
                  <td class="tg-amwm" colspan="4"><span style="font-weight:700;font-style:normal;text-decoration:none;color:black">캠핑카</span> <span style="font-weight:700;font-style:normal;text-decoration:none;color:black">구입할</span> <span style="font-weight:700;font-style:normal;text-decoration:none;color:black">경우</span></td>
                </tr>
                <tr>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">구분</span></td>
                  <td class="tg-ens0" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">비용</span></td>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">적용</span></td>
                </tr>
                <tr>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">캠핑카 가격</span></td>
                  <td class="tg-nrix" colspan="2">
                    <span style="font-weight:400;font-style:normal;text-decoration:none;color:black">
                      {{ contract.total_price|intcomma }}원
                    </span>
                  </td>
                  <td class="tg-cly1"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                </tr>
                <tr>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">프로모션</span></td>
                  <td class="tg-nrix" colspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                  <td class="tg-cly1"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">　</span></td>
                </tr>
                <tr>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">개별소비세</span></td>
                  <td class="tg-nrix" colspan="2">
                    <span style="font-weight:400;font-style:normal;text-decoration:none;color:black">
                      {{ contract.comsumption_tax|intcomma }}원    
                    </span>
                  </td>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">캠핑카 가격 * 5%</span></td>
                </tr>
                <tr>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">교육세</span></td>
                  <td class="tg-nrix" colspan="2">
                    <span style="font-weight:400;font-style:normal;text-decoration:none;color:black">
                      {{ contract.education_tax|intcomma }}원    
                    </span>
                  </td>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">개별소비세 * 30%</span></td>
                </tr>
                <tr>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">공급가액</span></td>
                  <td class="tg-nrix" colspan="2">
                    <span style="font-weight:400;font-style:normal;text-decoration:none;color:black">
                      {{ contract.supply_price|intcomma }}원    
                    </span>
                  </td>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">캠핑카가격 + 개별소비세 + 교육세</span></td>
                </tr>
                <tr>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">부가가치세</span></td>
                  <td class="tg-nrix" colspan="2">
                    <span style="font-weight:400;font-style:normal;text-decoration:none;color:black">
                      {{ contract.vat|intcomma }}원    
                    </span>
                  </td>
                  <td class="tg-ens0"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">공급가액 * 10%</span></td>
                </tr>
                <tr>
                  <td class="tg-0jgy"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">취등록세</span></td>
                  <td class="tg-371j" colspan="2">
                    <span style="font-weight:400;font-style:normal;text-decoration:none;color:black">
                      {{ contract.registration_tax|intcomma }}원    
                    </span>
                  </td>
                  <td class="tg-0jgy"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">공급가액 * 5%</span></td>
                </tr>
                <tr>
                  <td class="tg-0jgy"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">총 세금</span></td>
                  <td class="tg-371j" colspan="2">
                    <span style="font-weight:400;font-style:normal;text-decoration:none;color:black">
                      {{ contract.total_tax|intcomma }}원    
                    </span>
                  </td>
                  <td class="tg-0jgy"><span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">개별소비세</span>  <span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">+ 교육세</span>  <span style="font-weight:400;font-style:normal;text-decoration:none;color:windowtext">+ 부가세</span></td>
                </tr>
              </tbody>
          </table>
        </div>

      </div>

      <div class="footer">
        <div class="input_table">
          <ul class="input_ul">
            <li>
              <span class="title">주소</span>
              <div class="input_container">
                <input type="text" name="client_address">
              </div>
            </li>
            <li>
              <div class="title">주소</div>
              <div class="input_container">
                <input type="text" name="client_address">
              </div>
            </li>
            <li>
              <div class="title">주소</div>
              <div class="input_container">
                <input type="text" name="client_address">
              </div>
            </li>
            <li>
              <div class="title">주소</div>
              <div class="input_container">
                <input type="text" name="client_address">
              </div>
            </li>
            <li>
              <div class="title">주소</div>
              <div class="input_container">
                <input type="text" name="client_address">
              </div>
            </li>
            <li>
              <div class="title">주소</div>
              <div class="input_container">
                <input type="text" name="client_address">
              </div>
            </li>
          </ul>
        </div>

        <div id="amount_bar">
          <div class="btn_area">
              <a href="#" class="back">
                  <span class="icon">이전</span>
              </a>
              <a href="#" class="for">
                  <span class="icon">다음</span>
              </a>
          </div>
          <div class="total">
              <span>총</span>
              <span id="total_price" value="{{car.price}}">1,000,000</span>
              <span>원</span>
              <span>(기본 포함)</span>
          </div>
        </div>
      </div>



    </div>
	</body>
</html>