{% extends "./base.html" %}
{% load static %}

        <!-- inner-->
        {% block contents %}
        
            <div id="Inner" class="estimate_page">

                <div class="esti_head inner_page"><h1>온라인 견적</h1></div>
                <hr />

                <div class="car_intro_container inner_page">
                    <div class="intro">
                        <h1>{{car.name}}</h1>
                        <div class="car_detail_img">
                            <img src="{{car.image.url}}">
                        </div>
                        <div class="car_explanation">{{car.explanation}}</div>
                    </div>
                    <div class="car_recommend">
                        <div class="reco_detail">
                            <h2>추천차종</h2>
                            <div class="graph"></div>
                            <div class="first">1위 니차</div>
                            <div class="second">2위 내차</div>
                            <div class="third">3위 엄마차</div>
                        </div>
                    </div>
                </div>


                <div class="opt_container inner_page">
                    
                    <hr/>
                    <nav id="nav" class="inner_nav">
                        <ul>
                            <li class="current"><a href="#">냉난방</a></li>
                            <li><button href="#">도어 & 창문</button></li>
                            <li><button href="#">어닝</button></li>
                            <li><button href="#">배터리</button></li>
                            <li><button href="#">AC충전기</button></li>
                            <li><button href="#">인버터</button></li>
                            <li><button href="#">태양광 시스템</button></li>
                            <li><button href="#">기타</button></li>
                        </ul>
                    </nav>
                    <hr />
                    <br />
                    <div class="car_type">
                        <hr/>냉난방<hr/>
                        <br/>
                    </div>
                    <div class="opt_detail_container">
                        {% for option in car.option_set.all %}
                            <div class="opt_detail">

                                <div class="detail_img">
                                    <img src={{option.image}}>
                                </div>

                                <div class="opt_detail_detail">
                                    <h3>{{option.name}}</h3>
                                    <p>{{option.explanation}}</p>
                                    <div class="count">
                                        <div class="minus icon"><img src="../../static/assets/css/images/minus.png"></div>
                                        <div class="value">{{option.price}}원</div>
                                        <div class="plus icon"><img src="../../static/assets/css/images/plus.png"></div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        {% endfor %}
                    </div>

            </div>
		</div>
        {% endblock %}
