{% extends "./base.html" %}
{% load static %}

        <!-- inner-->
        {% block contents %}
        
            <div id="Inner" class="estimate_page">

                <div class="esti_head inner_page"><h1>온라인 견적</h1></div>
                <hr />

                <div class="car_intro_container inner_page">
                    <div class="intro">
                        <h2>{{car.name}}</h2>
                        <div class="car_detail_img">
                            <img src="{{car.image.url}}">
                        </div>
                        <div class="car_explanation">{{car.explanation}}</div>
                    </div>
                    <div class="car_recommend">
                        <img src="{% static 'assets/css/images/recocar.jpeg' %}" style="width: 300px;">
                    </div>
                </div>


                <div class="opt_container inner_page">
                    
                    <hr/>
                    <nav id="nav" class="inner_nav">
                        <ul>
                            <li class="current"><a href="#">냉난방</a></li>
                            <li><a href="#">도어 & 창문</a></li>
                            <li><a href="#">어닝</a></li>
                            <li><a href="#">배터리</a></li>
                            <li><a href="#">AC충전기</a></li>
                            <li><a href="#">인버터</a></li>
                            <li><a href="#">태양광 시스템</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </nav>
                    <hr />
                    <br />
                    {% for option in car.option_set.all %}
                    <div class="opt_detail">
                        <div class="opt_view">
                            <img src="./assets/css/images/opt_smaple.jpeg" width="400px">
                        </div>
                        <div class="opt_detail_container">
                            <h4>{{option.option_type}}</h4>
                            <a href="@">
                                <div class="opt_detail_detail">
                                    <div class="check_box">
                                        <input type="checkbox" name="check0_0" id="check0_0">
                                        <label for="check0_0"></label>
                                    </div>
                                    <div class="title">{{option.name}}</div>
                                    <div class="content">{{option.explanation}}</div>
                                    <div class="amount">{{option.price}}원</div>
                                    <div class="count">
                                        <span class="minus_icon">-</span>
                                        <span class="value">1개</span>
                                        <span class="plus_icon">+</span>
                                    </div>
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
		</div>
        {% endblock %}
