{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>캠핑카 1위 [캠카]입니다</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/sass/main.css' %}" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

        <!-- Header -->
            <div id="header">

            <!-- Logo -->
                <h1><a href="index.html">CampCar</a></h1>

            <!-- Nav -->
                <nav id="nav" class="header_nav">
                    <ul>
                        <li class="current"><a href="#">회사소개</a></li>
                        <li><a href="#">모델소개</a></li>
                        <li><a href="#">제휴안내</a></li>
                        <li><a href="#">고객지원</a></li>
                        <li><a href="#">스토어</a></li>
                    </ul>
                </nav>
                
            </div>

        <!-- inner-->
        
            <div id="Inner">

                <nav id="nav" >
                    <ul>
                        <li class="current"><a href="/">전체</a></li>
                        <li><a href="/TruckCamper">트럭캠퍼</a></li>
                        <li><a href="/TruckBase">트럭베이스</a></li>
                        <li><a href="#">벤베이스</a></li>
                        <li><a href="#">특수목적</a></li>
                        <li><a href="#">트레일러</a></li>
                    </ul>
                </nav>
                
                <div class="car_view"> 
                    <div class="car_flex">
                        {% for car in carList%}
                        <div class="car_area">
                            <a href="#" class="car_a">
                                <span class="car_img">
                                    <img src="{{car.image.url}}" alt="carimg">
                                </span>
                                <strong class="car_name">{{car.name}}</strong>
                            </a>
                        </div>
                        {% endfor %}                     
                    </div>       
                </div>     
            </div>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							
							<div class="col-4 col-12-medium">
								<section>
									<ul class="social">
										<li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
										<li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
										<li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
										<li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
										<li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
									</ul>
									<ul class="contact">
										<li>
											<h3>주소</h3>
											<p>
												CampCar 주식회사 캠카<br />
												캠핑시 자동차로 123 3관 5층<br />
											</p>
										</li>
										<li>
											<h3>이메일</h3>
											<p><a href="#">someone@untitled.tld</a></p>
										</li>
										<li>
											<h3>연락처</h3>
											<p>010-0000-0000</p>
										</li>
									</ul>
								</section>
							</div>
							<div class="col-12">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Campcar All rights reserved.</li><li>Design by  <a href="http://github.com/kick-snare"> kick-snare</a></li>
										</ul>
									</div>

							</div>≠
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>