{% extends "./base.html" %}
{% load static %}

        <!-- inner-->
        {% block contents %}
            <div id="Inner">

                <nav id="nav">
                    <ul>
                        <li class="current" onclick="switchButton(this);" 
                            name="carType" id="all"><a>전체</a></li>
                        <li onclick="switchButton(this);" 
                            name="carType" id="TruckCamper"><a>트럭캠퍼</a></li>
                        <li onclick="switchButton(this);" 
                            name="carType" id="TruckBase"><a>트럭베이스</a></li>
                        <li onclick="switchButton(this);" 
                            name="carType" id="VanBase"><a>벤베이스</a></li>
                        <li onclick="switchButton(this);" 
                            name="carType" id="SpecificPurpose"><a>특수목적</a></li>
                        <li onclick="switchButton(this);" 
                            name="carType" id="Trailer"><a>트레일러</a></li>
                    </ul>
                </nav>
                
                <div class="car_view"> 
                    <div class="car_flex">
                        {% for car in carList%}
                        <div class="car_area" name="{{car.type}}">
                            <a href="estimate/{{car.name}}" class="car_a">
                                <span class="car_img">
                                    <img src="{{car.image.url}}" alt="carimg">
                                </span>
                                <strong class="car_name">{{car.name}}</strong>
                            </a>
                        </div>
                        {% endfor %}                     
                    </div>       
                </div>     
            </div>
            {% endblock %}

			